<div class="container">

    <div class="circle">




    </div>


    <div class="logo"></div>
    <div class="cogito">Dubito, ergo cogito, ergo sum</div>



    <div class="container2"> 

        <form  [formGroup]="SingIn" (ngSubmit)="onSubmit()">

            <input  formControlName = "username" autocomplete="off" type="text" id="username" name="username"  placeholder="username">
            <input formControlName = "password" autocomplete="off"  type="password" id="password" name="Password"  placeholder="Password">
            <input  autocomplete="off" type="password" id="password" name="cPassword"  placeholder="Confirm Password">

            <div class="form-container">

                <label class="signIn">Sign In</label>
                <button  class="submit" [routerLink]="['/Survey']" type="submit" value="Submit">
                <div class="submit-logo"></div></button>


            </div>

            <div class="form-container-2">

                <label class="signUp"><a href="#">Sign Up</a></label>
                <label class="ForgetPassword"><a href="#">Forget Password</a></label>
            </div>
    

          
        </form>



 













    </div>









</div>